.home-main-container{
    margin: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.home-mission-statement-container{
    position: relative;
    height: 65vh;
    width: 100%;
    background-image: url('../../../public/assets/van-op50.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

.home-mission-statement-container p {
    font-size: 18px;
    text-align: centre;
    font-weight: 50;
    margin-bottom: 20px;
    width: 70%;
}

.home-mission-statement-container h2 {
    color: #12283C;
    font-weight: 800;
} 

.home-mission-statement-container h2,
.home-mission-statement-container p{
    margin: auto auto auto auto;
}




