@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: 'Merriweather', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-bkg{
  background: #12283C;
}

.nav-items{
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.5s ease; 
}

.nav-items:hover{
  color: #4da1ff;
}
